@import 'functions';

html {
  font-size: 16px;
  font-family: 'Open sans', sans-serif;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .1);
  overflow-x: hidden;
}

.container {
  min-width: 320px;
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: pxToRem(10);
    font-size: 1rem;
    border: 1px solid #c1c1c1;
    //vertical-align: top;
  }

  th {
    background-color: rgba(0,49,255,.15);
  }
}

.class-list {
  padding: 0;
  list-style-position: inside;

  &__item {
    margin-bottom: pxToRem(10);
  }
}