extends layout
include includes

block title
  include partials/title

block style
  include partials/styles

block content
  include partials/lang.en.pug
  include partials/base
  include partials/scripts