extends layout
include includes

block title
  include partials/title

block style
  include partials/styles
  include partials/scripts

block content
  include partials/lang.ru.pug
  include partials/base