-
  var description = "",
      keywords = "";

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='theme-color', content='#0055aa')

    block description
      meta(name="description" content=description)

    block keywords
      meta(name="keywords", content=keywords)

    meta(http-equiv="X-UA-Compatible" content="IE=Edge")

    include components/favicons/favicons

    block style

    block title
      title

  block content