+subtitle(classTable.alignment[0].title, 'ref-table-alignment')(class='col-12')
+class-table(classTable.alignment)

+subtitle(classTable.direction[0].title, 'ref-table-direction')(class='col-12')
+class-table(classTable.direction)

+subtitle(classTable.offset[0].title, 'ref-table-offset')(class='col-12')
+class-table(classTable.offset)

+subtitle(classTable.ordering[0].title, 'ref-table-order')(class='col-12')
+class-table(classTable.ordering)

+subtitle(classTable.gutters[0].title, 'ref-table-reset')(class='col-12')
+class-table(classTable.gutters)

+subtitle(classTable.hide[0].title, 'ref-table-hide')(class='col-12')
+class-table(classTable.hide)

+subtitle(classTable.show[0].title, 'ref-table-display')(class='col-12')
+class-table(classTable.show)