mixin code-snippets(index = 0)
  +code-snippet({ code: snippets.html[index], classes: 'html' })(class='col col-phone-landscape-12')
  +code-snippet({ code: snippets.sass[index], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')