.hero.row.direction-column
  h1.hero__title.col.no-gutters Flexbox Grid Pro
  h2.hero__subtitle.col= subtitle
  .buttons.row.justify-content-center
    +button('Download')(href='#', class='col-1')
    +button('Github')(href='#', class='col-1')