.hero.row.direction-column
  h1.hero__title.col.no-gutters Flexbox Grid Pro
  h2.hero__subtitle.col= subtitle
  .buttons.row.justify-content-center
    +button('Download')(href='https://npmjs.com/package/flexbox-grid-pro', target='_blank' class='col-1')
    +button('Github')(href='https://github.com/encrypticus/flexbox-grid-pro', target='_blank' class='col-1')